/loans/target/*
/loans/mvnw
/loans/.mvn/*
/accounts/.classpath
/accounts/.mvn/*
/accounts/.project
/accounts/.settings/*
/accounts/mvnw
/accounts/mvnw.cmd
/accounts/target/*
/configserver/.mvn/*
/configserver/mvnw
/configserver/mvnw.cmd
/cards/mvnw
/cards/target/*
/loans/.classpath
/loans/.project
/loans/.settings/*
/cards/.mvn/*
/cards/mvnw.cmd
/loans/mvnw.cmd
